<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://www.infobae.com/new-resizer/S1NRImXBAgHl8J8rNYUPdEzfT3s=/768x432/filters:format(jpg):quality(85)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/05/12153328/gastronomia-patisserie-destacada.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4"></h3>
          <p class="lead"></p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://s1.1zoom.me/b6446/474/Sweets_Cake_Raspberry_Currant_Dessert_Plate_536449_1920x1080.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4"></h3>
          <p class="lead"></p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://s1.1zoom.me/b4955/521/Baking_Sweets_Chocolate_511357_1920x1080.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4"></h3>
          <p class="lead"></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
  </div>
</header>
{{!-- Tabla de productos --}}
{{#each productos}}
<div class="container" style="display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
">
<div class="row">
<div class="container page-wrapper">
      <div class="page-inner">
        <div class="row">
          <div class="box-wrapper">
            <img src="/images/{{uid}}" alt="Imagen con formato icorrecto o direccion incorrecta" class="product-img">
            <div class="box-info">
              <h1 class="main-title">{{nombre}}</h1>

              <div>            
                <a href="#" class="link">Añadir al Carrito</a>
              </div>
              <div>  
                <a href="/productos/producto/{{id}}" class="link">Ver Mas</a>
              </div>
            </div>
      
            <div class="right-column">
              <ul class="size-list">
                <li class="list-item">{{descripcion}}</li>
              </ul>
              <span class="price"><span class="currency">$</span>{{precio}}</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
    </div>
    </div>
    {{/each}}
    