
<div style="margin-top: 100px;">
<h1>Control de Productos para Administradores</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre del producto</th>
      <th scope="col">Precio del produccto</th>
      <th scope="col">Descripcion del producto</th> 
      <th scope="col">Estado del producto</th>     
      <th class="col"><a href="/admin/productosadmin/create">Crear producto</a></th>
      <th class="col"><a href="/admin/productosadmin/desactivados">Productos Deshabilitados</a></th>
      <th class="col">Modificar producto</th>
      <th class="col">Borrar</th>    
      <th class="col">Activar</th>   
    </tr>
  </thead>
  {{#each productos}}
  <tbody>
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{nombre}}</td>
      <td>{{precio}}</td>
      <td>{{descripcion}}</td>
      <td>{{habilitado}}</td>
      <td></td> 
      <td></td>
      <td><a href="/admin/productosadmin/modificar/{{id}}">Modificar</a></td>
      <td><a href="/admin/productosadmin/borrar/{{id}}">borrar</a></td>
      <td><a href="/admin/productosadmin/activar/{{id}}">Activar habilitacion</a></td>
    </tr>
    </tbody>
    {{/each}}
    </table>
    
</div>